.album {
    max-width: 250px;
    padding: 1rem;
    background-color: #0d3649;
    box-sizing: border-box;
    border: 1px solid #c9a84c;
    border-radius: 5%;
    margin: 2rem 0;

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 5%;
    }



    h2 {
        margin: 5px 0 0;
        font-size: 16px;
        padding-top: 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: white;
    }
}